<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div *ngIf="profile!=null" class="w3-content w3-margin-top" style="max-width:1400px;">
  <div class="w3-row-padding">
    <div class="w3-quarter">
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-container">
          <img src="{{profile.photo}}" style="width:100%" alt="Avatar">
          <div class="w3-container w3-text-black">
            <hr>
            <h2 style="text-align: center">{{profile.name}}</h2>
            <hr>
          </div>
        </div>
        <div class="w3-container">
          <p style="font-weight: bold">Biography:</p>
          <p *ngIf="profile.id != currentUserId">{{profile.biography}}</p>
          <input *ngIf="profile.id == currentUserId" type="text" name="biography" [(ngModel)]="profile.biography" placeholder="{{profile.biography}}">
          <p style="font-weight: bold">Location:</p>
          <p *ngIf="profile.id != currentUserId">{{profile.location}}</p>
          <input *ngIf="profile.id == currentUserId" type="text" name="biography" [(ngModel)]="profile.location" placeholder="{{profile.location}}">
          <p style="font-weight: bold">Website:</p>
          <p *ngIf="profile.id != currentUserId">{{profile.website}}</p>
          <input *ngIf="profile.id == currentUserId" type="text" name="biography" [(ngModel)]="profile.website" placeholder="{{profile.website}}">
          <hr>
          <input *ngIf="profile.id == currentUserId" type="submit" value="Update Profile" (click)="UpdateProfile()">
          <hr>
          <p>
            <i *ngIf="currentUserId != profile.id" class="fa fa-user-plus" aria-hidden="true" (click)="LikeProfile()"></i>
            <i *ngIf="currentUserId != profile.id" class="fa fa-user-times" aria-hidden="true" (click)="UnLikeProfile()"></i></p>
          <p style="font-weight: bold">Followers</p>
          <ng-container *ngFor="let follower of profile.following">
            <p><img src="{{follower.photo}}" style="width:5%">{{follower.name}}</p>
          </ng-container>
      </div>
      </div>
    </div>
    <div class="w3-twothird">
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Timeline</h2>
        <div class="w3-container">
          <ng-container *ngFor="let message of profile.messages">
            <h5 class="w3-opacity"><b><img src="{{message.posterImage}}" style="width:5%">{{message.poster}}</b></h5>
            <p>{{message.content}}</p>
            <p>
              {{message.likes.length}} likes
              <i *ngIf="currentUserId != message.posterId" class="fa fa-thumbs-o-up" aria-hidden="true" (click)="LikeMessage(message.id)"></i>
              <i *ngIf="currentUserId != message.posterId" class="fa fa-exclamation-triangle" aria-hidden="true" (click)="FlagMessage(message.id)"></i>
              {{message.datetime}}
            </p>
            <hr>
          </ng-container>
          <div *ngIf="loggedIn">
          <h5 class="w3-opacity"><b>Place Message</b></h5>
          <input type="text" name="message" [(ngModel)]="content" placeholder="Message" required>
          <input type="submit" value="place" (click)="PlaceMessage()">
          <hr>
          </div>
        </div>
    </div>
  </div>
</div>
</div>
<!-- bron https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_cv&stacked=h -->
